<div>
    <ng-progress></ng-progress>

    <p>
        What is it that you want to achieve?
    </p>
      <ul>
          <li *ngFor='let goal of goals; let i = index'>
             <span appStrikeThis>{{goal.id}}</span>
             <hr>
             {{goal.name}} is due on      {{goal.aDate| date| uppercase}}
             <button (click)='goToUrl(goal.id)' >Show Details</button>
             <button (click)='deleteGoal(i)'>Delete Goal</button>
          </li>

      </ul>
      
        <p *ngIf='goals.length>4'>
            You, be a little more concise
        </p>

</div>


<hr>

<div class="row">
    <blockquote class="blockquote text-center">
      <p class="mb-0">{{quote.quote}}</p>
      <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
    </blockquote>
  </div>



<app-goal-form (addGoal)='addNewGoal($event)' ></app-goal-form>
